<!-- Modal Structure -->
<div id="new-patient-form" class="modal">
  <div class="modal-content">
    <h4>Nuevo paciente</h4>
    <div class="row">
      <div class="row">
        <div class="input-field col m6 s12">
          <label for="">Nombre</label><br />
          <input type="text" name="name" value="">
        </div>
        <div class="input-field col m6 s12">
          <label for="">Apellido</label><br />
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6 s12">
          <label for="">Email</label><br />
          <input type="text" name="name" value="">
        </div>
        <div class="input-field col m6 s12">
          <label for="">Teléfono</label><br />
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="">Dirección</label><br />
          <input type="text" name="name" value="">
        </div>
      </div>
      <div class="row">
        <div class="actions col s12">
          <button type="button" name="button" class="btn cyan waves-effect waves-light right">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
