<footer class="green-background">
	<div class="">
		<div class="container">
			<div class="row">
				<div class="">
					<p>
						&copy; Kino 2016 - Todos los derechos reservados.
					</p>
				</div>
				<div class="">
					<p class="pull-right">
						Desarrollado por <a href="http://www.pacoguevara.com/">Paco Guevara</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
