<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">Kino</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Iniciar Sesión", new_user_session_path() %></li>
      <li><%= link_to "Crear cuenta", new_user_registration_path() %></li>
    </ul>
  </div>
</nav>
