<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">Kino</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class=""><a href="#">Pacientes</a></li>
      <li class=""><a href="#">Citas</a></li>
      <li class=""><a href="#">Comidas</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-button" data-activates='dropdown1'><%= current_user.email %> <span class="caret"></span></a>
        <ul id='dropdown1' class='dropdown-content'>
          <li><%= link_to "Editar cuenta", edit_user_registration_path() %></li>
          <li><a href="#">Configuración</a></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Cerrar Sesión", destroy_user_session_path(), method: 'delete' %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
